.my-div-brown {
    background-color: brown;
    color: white;
}

.my-div-green {
    background-color: green;
    color: white;
}

.my-div-blue {
    background-color: blue;
    color: white;
}
